<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="color: darkslategrey">This is a header</header>
    @RenderBody()
    <footer style="color: green">This is a footer</footer>

</body>
</html>
